// bower:scss
$slick-font-path: "../fonts/" !default;
$slick-loader-path: "../images/" !default;
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "buttons";

/*
* Cafe51
*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  background: $white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $black;
}

main {
  @include size(100%,auto);
  max-width: $grid-max-width;
  margin: 0 auto;
  position: relative;
  &:after {
    @extend %clearfix;
  }
}
.row:after {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  main {
    width: 95%;
    max-width: $grid-max-width;
  }

  // loop para generar las class col-
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// HEADER component
header {
  @include size(100%, 90px);
  overflow: hidden;

  button {
    float: right;
  }
}
nav {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
}

.logo {
  background: url(../images/logo_cafe.png) center center no-repeat;
  background-size: cover;
  display: inline-block;
  @include size(105px,70px);
  text-indent: -9999px;
  margin: 10px 16px;
}

// menu
.menu-items {
  //@include size(50%, auto);
  li {
    @include size(100%, auto);
    padding: 0 30px;
    font-family: 'CenturyGothic';
    @include font-size(22px);
    line-height: 50px;
    cursor: pointer;

    background-color: $orange;
    &:hover {
      background-color: darken($orange, 10%);
    }

    &:nth-child(2) {
      background-color: $light-orange;
      &:hover {
        background-color: darken($light-orange, 10%);
      }
    }
    &:nth-child(3) {
      background-color: $light-brown;
      &:hover {
        background-color: darken($light-brown, 10%);
      }
    }
    &:nth-child(4) {
      background-color: $light-green;
      &:hover {
        background-color: darken($light-green, 10%);
      }
    }
    &:nth-child(5) {
      background-color: $dark-green;
      &:hover {
        background-color: darken($dark-green, 10%);
      }
    }

    a {
      text-decoration: none;
      display: block;
      color: $white;
    }
  }

}

// fonts
h1 {
  font-family: $futuraMD;
  @include font-size(46px);
}

//
article {
  @include size(100%, auto);
  overflow: hidden;
}
//
.main-promo {
  background: url(../images/img-main-home.jpg) center center no-repeat;
  background-size: cover;
  @include size(100%, 600px);
  overflow: hidden;
  color: $white;
  text-align: center;
  position: relative;

  .promo-separator {
    @include size(100%, auto);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 14% auto;

    hr {
      margin: 30px auto;
    }

    .overlay {
      @include size(100%, auto);
      background-color: $black-50;
      padding: 12px;

      h2 {
        font-family: 'CenturyGothic';
        @include font-size(32px);
      }
    }
  }
}

/*
 * Slider home
 */
.slick-slider {
  margin-bottom: 0px;
}
.slick-initialized .slick-slide {
  overflow: hidden;
  color: $white;
  text-align: center;
  position: relative;

  .promo-separator {
    @include size(100%, auto);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 14% auto;

    hr {
      margin: 30px auto;
    }

    .overlay {
      @include size(100%, auto);
      background-color: $black-50;
      padding: 12px;

      h2 {
        font-family: 'CenturyGothic';
        @include font-size(32px);
      }
    }
  }
}

.slick-dots {
  bottom: 0;

  li {
    button {
      &:before {
        color: $white !important;
      }
    }

    &.slick-active {
      button {
        &:before {
          color: $white !important;
        }
      }
    }
  }
}


.block-promo {
  background-size: cover !important;
  height: 500px;
  overflow: hidden;
  color: $gray2;
  position: relative;
  &.gastronomia {
    background: url(../images/img-promo-gastronomia.jpg) center center no-repeat;
  }
  &.mercado {
   background: url(../images/img-promo-mercado.jpg) center center no-repeat;
 }
  &.industria {
   background: url(../images/img-promo-industrial.jpg) center center no-repeat;
 }

  h2 {
    @include font-size(36px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
    font-family: 'CenturyGothic';
  }
}
// frase pre footer
.footer-promo {
  color: $brown;
  text-align: center;
  padding: 45px 0;
  h1 {
    @include font-size(36px);
    margin-bottom: 45px;
  }
}

// hr component
hr {
  @include size(45%, auto);
  margin: 10px auto;
  position: relative;
  border: 0;
  border-top: 3px solid $white;
  &:before, &:after {
    content: '';
    @include size(15px, 15px);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -9px;
    background-color: $white;
  }
  &:before {
    left: -5px;
  }
  &:after {
    right: -5px;
  }

  &.secondary {
    border-top: 3px solid $brown;
    @include size(55%, auto);
    &:before, &:after  {
      background-color: $brown;
    }
  }
}

// industrial
.industrialView {
  padding-bottom: 40px;
  .main-promo {
      background: url(../images/img-main-industrial.jpg) center center no-repeat;
      background-size: cover;
      @include size(100%, 650px);
      overflow: hidden;
      color: $white;
      position: relative;

      .promo-separator {
        @include size(auto, auto);
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 10%;
        margin: 0;

        h1 {
          margin: 0 40px;
          small {
            @include font-size(38px);
          }
          em {
            @include font-size(96px);
          }
        }
        hr {
          @include size(130%, auto);
          margin: 15px 0;
        }
        p {
          font-family: 'CenturyGothic';
          @include font-size(25px);
          text-align: left;
          padding-left: 20px;
        }
      }
  }
  img {
    @include img-responsive;
  }
}

.content-text-industria {
  padding: 40px 0;
  text-align: center;
  font-family: 'CenturyGothic';
  @include font-size(20px);
  line-height: 30px;
}

// gastronomia
.gastronomiaView {
  padding-bottom: 40px;
  .main-promo {
    background: url(../images/img-main-gastronomia.jpg) center center no-repeat;
    background-size: cover;
    @include size(100%, 650px);

    .promo-separator {
        @include size(auto, auto);
        position: absolute;
        left: -10px;
        right: auto;
        top: 15%;
        bottom: auto;
        margin: 0;

        h1 {
          margin: 0 40px;
          @include font-size(48px);
          small {
            @include font-size(38px);
          }
          em {
            @include font-size(61px);
          }
        }
        hr {
          @include size(100%, auto);
          margin: 15px 0;
        }
        p {
          font-family: 'CenturyGothic';
          @include font-size(25px);
          text-align: right;
          padding-left: 20px;
        }
      }
  }
  .bajada {
    padding: 30px;
  }
  h2 {
    font-family: 'CenturyGothic-Bold';
    @include font-size(25px);
    line-height: 40px;
    color: $brown;
    font-weight: bold;
  }
  p {
    font-family: 'CenturyGothic';
    @include font-size(20px);
    line-height: 30px;
  }
  img {
    @include img-responsive;
  }
}

// historia
.historiaView {
  padding-bottom: 40px;

  .main-promo {
    background: url(../images/img-main-historia.jpg) center center no-repeat;
    background-size: cover;
    @include size(100%, 650px);

    .promo-separator {
        @include size(auto, auto);
        background-color: $black-50;
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 8%;
        margin: 0;
        padding: 8px 32px;

        h1 {
          margin: 0 40px;
          @include font-size(34px);
        }
      }
  }

  .container {
    margin: 0 auto;
    padding: 30px 0;
    @include size(90%, auto);
    overflow: hidden;
  }

  h2 {
    font-family: 'CenturyGothic-Bold';
    @include font-size(23px);
    line-height: 33px;
    color: $brown;
    font-weight: bold;
    margin-bottom: 30px;
  }
  p {
    font-family: 'CenturyGothic';
    @include font-size(20px);
    line-height: 30px;
    text-align: justify;
  }
  img {
    @include img-responsive;
  }
}

// industrial
.mercadoView {
  padding-bottom: 40px;
  .main-promo {
      background: url(../images/img-main-mercado.jpg) center center no-repeat;
      background-size: cover;
      @include size(100%, 650px);
      overflow: hidden;
      color: $white;
      position: relative;

      .promo-separator {
        @include size(auto, auto);
        position: absolute;
        left: auto;
        right: 0;
        top: 10%;
        bottom: auto;
        margin: 0;

        h1 {
          margin: 0 40px;
          @include font-size(42px);

          small {
            @include font-size(38px);
          }
          em {
            @include font-size(61px);
          }
        }
        hr {
          @include size(130%, auto);
          margin: 15px 0;
        }
        p {
          font-family: 'CenturyGothic';
          @include font-size(25px);
          text-align: left;
          padding-left: 20px;
        }
      }
  }
}

.contactoView {
  padding-bottom: 40px;
  .main-promo {
      background: url(../images/img-main-contacto.jpg) center center no-repeat;
      background-size: cover;
      @include size(100%, 450px);
      overflow: hidden;
      color: $white;
      position: relative;

      .promo-separator {
        @include size(auto, auto);
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 10%;
        margin: 0;

        h1 {
          margin: 0 40px;
        }
        hr {
          @include size(130%, auto);
          margin: 15px 0;
        }
      }
  }

  .col-6 {
    padding: 30px;
  }
}

.content-text-contacto {
  h2 {
    font-family: 'futura_md_btmedium';
    @include font-size(20px);
    line-height: 30px;
  }
  p {
    font-family: 'CenturyGothic';
    @include font-size(16px);
    line-height: 30px;

    a {
      text-decoration: none;
      color: $brown;

      &:hover {
        color: $black;
      }
    }
  }
}

// formulario de contacto
.form-control {
  @include size(100%, auto);
  overflow: hidden;
}
label {
  font-family: 'futura_md_btmedium';
  @include font-size(20px);
  line-height: 30px;
}
input, textarea {
  @include size(100%, 30px);
  display: block;
  margin: 5px auto;
  padding: 0 5px;
  border: 1px solid $gray;
  font-family: 'CenturyGothic';
  @include font-size(16px);
  line-height: 30px;
}
textarea {
  @include size(100%, 80px);
}

/*
 *  Ajustes responsive
 */
// ipad land
@media (max-width: 1024px) {
  .historiaView .main-promo,
  .gastronomiaView .main-promo,
  .industrialView .main-promo,
  .mercadoView .main-promo  {
    @include size(100%, 500px);
  }
}
// ipad port
@media (max-width: 768px) {}
// tablet android port
@media (max-width: 600px) {}
// iphone 6+/6s+ port
@media (max-width: 414px) {
  .lines-button {
    margin-right: 16px;
  }
  nav {
    @include size(100%, auto);
  }
  .menu-items {
    li {
      padding: 0 16px;
      @include font-size(22px);
    }
  }
  // main
  h1 {
    @include font-size(30px);
  }
  //main
  .slick-slide img {
    @include size(auto, 500px);
  }
  .main-promo {
    .promo-separator {
      margin: 30% auto;
      .overlay {
        h2 {
          @include font-size(26px);
         }
      }
    }
  }
  .block-promo {
    @include size(100%, 350px);
    h2 {
      @include font-size(30px);
    }
  }
  // historia
  .historiaView {
    .main-promo {
      .promo-separator {
        h1 {
          @include font-size(30px);
        }
      }
    }

    p {
      @include font-size(18px);
    }
  }
  // gastronomia
  .gastronomiaView {
    .main-promo {
      .promo-separator {
        top: 25%;
        h1 {
          @include font-size(32px);

          small {
            @include font-size(25px);
          }
          em {
            @include font-size(40px);
          }
        }
        p {
          @include font-size(20px);
        }
      }
    }

    p {
      @include font-size(18px);
    }
  }
  // industrial
  .industrialView {
    .main-promo {
      .promo-separator {
        h1 {
          small {
            @include font-size(22px);
          }
          em {
            @include font-size(55px);
          }
        }
        p {
          @include font-size(20px);
        }
      }
    }
    .content-text-industria {
      padding: 40px 16px;
    }
    h2 {
      @include font-size(22px);
    }
  }
  // mercado
  .mercadoView {
    .main-promo {
      .promo-separator {
        h1 {
          @include font-size(30px);
          small {
            @include font-size(27px);
          }
          em {
            @include font-size(43px);
          }
        }
        p {
          @include font-size(20px);
        }
      }
    }

  }
}

@media (max-width: 360px) {
  .menu-items {
    li {
      @include font-size(18px);
    }
  }
  //main
  .main-promo {
    .promo-separator {
      h1 {
        @include font-size(25px);
      }
      margin: 30% auto;
      .overlay {
        h2 {
          @include font-size(22px);
         }
      }
    }
  }
  .block-promo {
    h2 {
      @include font-size(25px);
    }
  }
  // gastronomia
  .gastronomiaView {
    .main-promo {
      .promo-separator {
        h1 {
          margin: 0 20px;
        }
      }
    }
    h2 {
      @include font-size(22px);
      line-height: 32px;
    }
    p {
      @include font-size(16px);
      line-height: 26px;
    }
  }
 // mercado
  .mercadoView {
    .main-promo {
      .promo-separator {
        h1 {
          margin: 0 20px;
        }
      }
    }
  }
  // industrial
  .industrialView {
    .main-promo {
      .promo-separator {
        h1 {
          margin: 0 20px;
        }
      }
    }
    h2 {
      @include font-size(18px);
      line-height: 28px;
    }
  }
  // historia
  .historiaView {
    .main-promo {
      .promo-separator {
        h1 {
          @include font-size(25px);
          margin: 0;
        }
      }
    }

    h2 {
      @include font-size(22px);
      line-height: 32px;
      margin-bottom: 20px;
    }

    p {
      @include font-size(16px);
      line-height: 26px;
    }
  }
  // contacto
  .contactoView {
    .main-promo {
      .promo-separator {
        h1 {
          @include font-size(25px);
          margin: 0 20px;
        }
      }
    }
  }
  // footer
  .footer-promo {
    h1 {
      @include font-size(22px);
    }
  }
}